.enabledCheck {
  float: right;
}

.settingsForm {
  width: 45% !important;
  max-width: 100%;
  float: left;
  margin: 1em !important;
  position: relative;
}

.dateElemRow {
  margin-top: 3em;
  background: #fafafa;
  padding: 2em;
}