.container {
  display: flex;
  flex-direction: column;

}

.topBar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.datePicker {
  width: 260px;
}

.table {
  overflow-y: auto;
  max-height: 80vh;
  margin-bottom: 8px;
}

.multiLine {
  white-space: pre-line;
}
