.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.topBar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.datePicker {
  width: 260px;
}

.table {
  overflow-y: auto;
  max-height: 140vh;
  margin-bottom: 8px;
}

.multiLine {
  white-space: pre-line;
}
