.dragger {
  padding: 1em;
}

.draggerInnerContainer {
  padding: 1em;
}

.datePicker {
  width: 100%;
}

.submitButtonContainer {
  text-align: center;
}

:global(.ant-upload-list-item-card-actions-btn) {
  opacity: 1 !important;
}
