.layout {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.menu {
  display: inline-block;
}

.divider {
  flex-grow: 1;
}

.logoutButton {
  display: inline-block;
}

.toTheLeft {
  float:right;
}

.userName {
  color:rgba(255, 255, 255, 0.65);
}

.userName  {
  color:rgba(255, 255, 255, 0.65);
  margin-right: 2em;

  & .userIcon {
    color:rgba(255, 255, 255, 0.65);
    margin: 10px 10px;
  }
}

.content {
  padding: 20px;
  overflow: auto;
}
