.settingsForm {
  width: 45% !important;
  max-width: 100%;
  float: left;
  margin: 1em !important;
  position: relative;
}

.addPostbackButton {
  position: absolute !important;
  top: 1em;
  right: 1em;
}

.formSectionHeader {
  margin-bottom: 2em;
}