
.header {
  height: 70px !important;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  .title {
    font-family: 'Sedgwick Ave', cursive;
    color: white;
    font-size: 24px;
    margin: 0 20px 0 10px;
  }
  .logo {
    display: inline-block;
    height: 42px;
  }
  .flagContainer {
    margin-left: 10px;
  }
}
